.home-background {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff4400,
    #e8671d,
    #e8b71d,
    #d0e81d,
    #7fe81d,
    #1de86e,
    #1ddde8,
    #1dafe8,
    #1d86e8,
    #1d50e8,
    #9200f3,
    #f3008e
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 20s ease infinite;
  -o-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
}
@keyframes rainbow {
  0% {
    background-position: 0% 15%;
  }
  50% {
    background-position: 100% 85%;
  }
  100% {
    background-position: 0% 15%;
  }
}
